<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">User Profile</h6>
    
      <i class="fas fa-plus text-gray-100"></i>
    </button>
  </div>

  <div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0">
            <tr>
                <td>Fullname<br></td>
                <td></td>
                <td><strong>: <%=  %></strong><br></td>
            </tr>
            <tr>
                <td>Username</strong><br></td>
                <td></td>
                <td><strong>: <%=  %></strong><br></td>
            </tr>
            <tr>
                <td>Email</strong><br></td>
                <td></td>
                <td><strong>: <%=  %></strong><br></td>
            </tr>
            <td>

                <button class="btn bg-warning btn-sm button-update mt-4" data-id="editModal" data-target="#editModal" data-jumlah="" data-tanggal="" title="Update">
                    <span class="text-gray-100">Edit Password</span>                
                </button>
        </td>
        </table>
    </div>
  </div>
</div>
