<!-- Modal -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Update data pengeluaran pakan
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/admin/pakan" method="POST">
          <div class="form-group">
            <label for="jumlah">Jumlah Pakan</label>
            <input
              name="jumlah"
              class="form-control form-control-sm"
              type="number"
              placeholder="Pengeluaran Pakan"
            />
          </div>
          <div class="form-group">
            <label for="jumlah">Harga Pakan</label>
            <input
              name="harga"
              class="form-control form-control-sm"
              type="number"
              placeholder="Rp. "
            />
          </div>
          <div class="form-group">
            <label for="tanggal">Tanggal</label>
            <input
              id="tanggalTelur"
              name="tanggal"
              class="form-control form-control-sm"
              type="date"
              required
            />
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-success">Edit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
